.discount-card-name{
    width: 10vw;
    display: flex;
    justify-content: center;
    margin-left: 0.6vw;
    font-size: 2vh;
}
.discount-card-price{
    width: 7vw;
    font-size: 2vh  ;
    display: flex;
    justify-content: center;
}
.discount-card-adress-comment{
    width: 8vw;
    margin-left: 0.6vw;

    display: flex;
    justify-content: center;
    font-size: 2vh;
}
.discount-card-adress{
    width: 15vw;
    margin-left: 0.6vw;
    display: flex;
    justify-content: center;
    font-size: 2vh;
}
.discount-card-date{
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    flex-direction: column;
    width: 6vw;
    font-size: 2vh;
}
.discount-card-trademark{
    margin-right: 0.2vw;
    width: 5vw;
    display: flex;
    justify-content: center;
    font-size: 2vh;
}