.suplier-discount-request-list-comment{
    display: flex;
    justify-content: center;
    width: 7vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}
.suplier-discount-request-list-name{
    display: flex;
    justify-content: center;
    width: 12vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner::after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000000;
    border-color: #000000 transparent #000000 transparent;
    animation: spinner 1.2s linear infinite;
}
.filters select {
    font-weight: bold;
    padding: 10px 15px;
    font-size: 16px; /* Збільшує розмір шрифту */
    border-radius: 5px; /* Закруглені краї */
    border: 1px solid #ccc; /* Світло-сіра рамка */
    background-color: #f9f9f9; /* Світло-сірий фон */
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none; /* Відключити стандартний вигляд випадаючого списку */
    cursor: pointer; /* Курсор руки при наведенні */
}

.filters select:focus {
    border-color: #007bff; /* Синя рамка при фокусі */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Блакитний тінь при фокусі */
    outline: none; /* Вимкнути стандартний контур */
}

.filters select option {
    font-size: 16px; /* Збільшує розмір шрифту в опціях */
    padding: 10px; /* Додає відступи до опцій */
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.suplier-discount-request-list-trademark{
    display: flex;
    justify-content: center;
    width: 8vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}
.suplier-discount-request-list-adress
{
    display: flex;
    justify-content: center;
    width: 18vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}
.suplier-discount-request-list-adresscomment
{
    display: flex;
    justify-content: center;
    width: 8vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}
.suplier-discount-request-list-price{
    display: flex;
    justify-content: center;
    width: 6vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}
.suplier-discount-request-list-status
{
    display: flex;
    justify-content: center;
    width: 4vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}
.suplier-discount-request-list-date{
    
    display: flex;
    justify-content: center;
    width: 6vw;
    border: 0.2vh solid black;

    font-size: 2vh;
    font-weight: bold;
}