.allproducts-container {
    /* Center align vertically */
  }
  
  .allproducts-position-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Center align horizontally */
  }
  
  .allproducts-position-text {
    font-size: 4vh;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px; /* Add some space below the text */
  }
  
  .allproducts-choose-container {
    display: flex;
    width: 95%;
    justify-content: space-between; /* Space out elements evenly */
    align-items: center; /* Center align vertically */
    padding: 0 20px; /* Add some padding to the sides */
    
  }
  .allproducts-position-header{
   
    background-color: lightgray; /* Same background color as the product list to blend in */

  }
  .allproducts-product-list {
    width: 100vw;
    height: auto;
    background-color: lightgray;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it is above the product list */
  }
  
  .allproducts-product-list-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .allproducts-product-list-text {
    border: 0.2vh solid black;
    display:  flex;
    justify-content:center ;
    width: 9.5vw;
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
  }
  
  .allproducts-product-list-price {
    border: 0.2vh solid black;
    display:  flex;
    justify-content:center ;
    width: 6.5vw;
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
  }
  
  .allproducts-product-list-text-discount {
    border: 0.2vh solid black;
    display:  flex;
    justify-content:center ;
    width: 9.5vw;
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
  }
  .allproducts-product-list-text-compensation-sum{
    border: 0.2vh solid black;
    display:  flex;
    justify-content:center ;
    width: 11.5vw;
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
  }
  .allproducts-discount-list-name {
    border: 0.2vh solid black;
    display:  flex;
    justify-content:center ;
    width: 24vw;
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
  }
  
  .allproducts-submit-button {
    width: 20vw;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    background-color: green;
    align-self: flex-end; /* Align to the right */
  }
  
  .allproducts-navigate-button {
    width: 20vw;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    background-color: green;
  }
  
  .allproducts-select {
    height: 5vh;
  }
  
  .allproducts-info-icon {
    margin-left: 1vw;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #666565;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    position: relative;
  }
  
  .allproducts-info-icon:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .allproducts-info-icon::after {
    content: "";
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }
  
  .allproducts-navigate-button2 {
    width: 20vw;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    background-color: green;
  }
  