.manager-button-approve
{
    height: 5vh;
    width: 3vw;
    border-radius: 10vh;
    margin-left: 0.2vw;
    background-color: green;
}
.manager-button-reject
{
    height: 5vh;
    width: 3vw;
    border-radius: 10vh;

    margin-left: 0.2vw;
    background-color: red;
}
.manager-request-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.manager-request-comment{
    height: 6vh;
}
.check{
    color: white;
}
.percent-line{
    color:red;
    width: 10vw;
    font-size: 1vw;
    font-weight:500;
    margin-left: 0.5vw;
    align-self: center;
    justify-self: center;
}
.manager-request-item-name{
    width: 20vw;
    font-size: 1vw;
    font-weight:500;
    
    align-self: center;
    justify-self: center;
}
.manager-request-item
{
    width: 10vw;
    font-size: 1vw;
    font-weight:500;
    margin-left: 0.5vw;
    align-self: center;
    justify-self: center;
}
