.discount-request-list-name{
    margin-right: 0.2vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    font-weight: bold;
}
.discount-request-list-adress-comment{
    width: 8vw;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    font-weight: bold;  
}
.discount-request-list-adress{
    width: 15vw;
    margin-left: 0.6vw;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    font-weight: bold;  
}
.discount-request-list-price{
    width: 7vw;
    font-size: 2vh  ;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.discount-request-list-trademark{
    margin-right: 0.2vw;
    width: 5vw;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    font-weight: bold;

}
.discount-request-list-date{
    display: flex;
    justify-content: center;
    width: 6vw;
    font-size: 2vh;
    font-weight: bold;

}
.discount-request-list-comment{
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    width: 11vw;
    font-size: 2vh;
    font-weight: bold;
}