.suplier-history-request-card-status-green {
    color: green;
    font-weight: bold;
    width: 4vw;
    border: 0.2vh solid black ;   
    z-index: 100;

}

.suplier-history-request-card-status-orange {
    color: orange;
    font-weight: bold;
    border: 0.2vh solid black;   
  
    width: 4vw;

}
.suplier-product-list-container{
}


.suplier-history-request-card-status-red {
    color: red;
    font-weight: bold;
    width: 4vw;
    border: 0.2vh solid black;   
    align-self: center;
    justify-self: center;

    
}
.suplier-request-card {
    display: flex;
    flex-direction: row;
}

.suplier-request-card-item {
    width: 8vw;
    font-weight: bold;
    display: flex;

    align-items: center;
    justify-content: center;
    border: 0.2vh solid black;

}
.suplier-request-card-item-barcode{
    width: 8vw;
 

}

.suplier-request-list-name {
    width: 40vw;
    font-weight: bold;
    font-size: 1vw;

    border: 0.2vh solid black;
}

.suplier-request-list-text {
    width: 8vw;    
    font-size: 1vw;

    font-weight: bold;
    border: 0.2vh solid black;
}

.suplier-request-card-name {
    font-weight: bold;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 40vw;
    border: 0.2vh solid black;
}
.suplier-request-card-item-comment{
    border: 0.2vh solid black;
    width: 5vw;
    font-weight: bold;


}

.suplier-request-list-status-comment{
    width: 9vw;
    font-size: 1vw;
    font-weight: bold;

    font-weight: bold;
    border: 0.2vh solid black;
}


.suplier-request-card-comment {
    max-height: 100px;
    overflow-y: auto;
    font-weight: bold;

    border: 1px solid #ddd;
    padding: 5px;
}

.message-conainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    background: lightgray;
    z-index: 1000;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
