.productcard-container {
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.productcard-item {
    width: 9.5vw;
    margin-left: 0.5vw;
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
    justify-self: center;
}

.productcard-price {
    width: 6vw;  /* Reduced width for price */
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
    justify-self: center;
}

.productcard-name-discount {
    width: 19.5vw;
    margin-left: 0.5vw;
    font-size: 1vw;
    font-weight: 500;
    align-self: center;
    justify-self: center;
}

.productcard-input {
    width: 9vw;
    margin-top: 0.5vw;
    height: 1vh;  /* Increased height for input fields */
    font-size: 1vw;  /* Ensure text is proportionally larger */
    padding: 0.5vw;
}

.productcard-label {
    font-size: 0.9vw;
    font-weight: bold;
}

.productcard-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1vw;
}

.productcard-input-error {
    color: red;
    font-size: 0.9vw;
    font-weight: bold;
}
