.suplier-container{
      /* Вертикальне вирівнювання по центру */

}
.suplier-position-container{
    display: flex;             /* Використання Flexbox */
    justify-content: center;
    flex-direction: column;    /* Розташування елементів один під одним */


}
.suplier-position-text{
    font-size: 4vh;
    align-self: center;       /* Горизонтальне вирівнювання по центру */
    justify-self: center;
    font-weight: bold;
}
.suplier-choose-container{
    display: flex;             /* Використання Flexbox */
}
.supier-product-list{
    width: 100vw;
    height: auto;
    background-color: lightgray;
}
.suplier-product-list-container{
    width: 100vw;
    display: flex;
    flex-direction:row;
    
}
.suplier-product-list-text {
    width: 11.5vw;
    font-size: 1vw;
    font-weight:500;
    margin-left: 0.5vw;
    align-self: center;
    justify-self: center;
}
.suplier-product-list-name {
    width: 50vw;
    font-size: 1vw;
    font-weight:500;
    
    align-self: center;
    justify-self: center;
}
.suplier-submit-button{
    width: 20vw;
    height: 5vh;
    color: white;
    font-weight: bold;
   margin-left: 39vw;
    font-size: 2vh;
    background-color: green;
}
.suplier-navigate-button
{
   
    width: 20vw;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    background-color: green;
}
.suplier-navigate-button2{
    width: 20vw;
    height: 5vh;
    margin-left: 1vw;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    background-color: green;
}