
.login-container{
  display: flex;             /* Використання Flexbox */
  flex-direction: column;    /* Розташування елементів один під одним */
  justify-content: center;   /* Вертикальне вирівнювання по центру */
  align-items: center;       /* Горизонтальне вирівнювання по центру */
  height: 100vh;
}
.login-button{
  height: 5vh;
  width: 10vw;
  margin-top: 5vh;
}
.login-button-text{
  font-size: 1vw;
}
.login-input-field{
  height: 5vh;
  width: 15vw;
  margin-top: 1vh;
}
.login-input-field::placeholder{
  font-size: 1vw;

}