.discount-card-comment{
    
    width: 12vw;
    display: flex;
        justify-content: center;
    font-size: 2vh;

}
.discount-card-status{
    width: 4vw;
    display: flex;
    justify-content: center;
    font-size: 2vh;

}
.status-pending {
    color: blue;
}

.status-rejected {
    color: red;
}

.status-accepted {
    color: green;
}