.product-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border:0.2vh solid rgb(126, 125, 125);
    
    margin-top: 0.2vh ;
    min-height:8vh;
}
.product-item {
    width: 11vw;
    margin-left: 0.5vw;
    font-size: 1vw;
    font-weight:500;
  
    align-self: center;
    justify-self: center;
}
.product-name
{
    width: 50vw;
    font-size: 1vw;
    font-weight:500;
    
    align-self: center;
    justify-self: center;
}
.product-input{
    width: 10vw;
}