.product-container
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    height:  auto;    
}
.suplier-request-card-status-green {
    color: green;
    font-weight: bold;
    width: 10vw;
    border: 0.2vh solid black ;   
    z-index: 100;

}

.suplier-request-card-status-orange {
    color: orange;
    font-weight: bold;
    border: 0.2vh solid black;   
  
    width: 10vw;

}


.suplier-request-card-status-red {
    color: red;
    font-weight: bold;
    width: 10vw;
    border: 0.2vh solid black;   
    align-self: center;
    justify-self: center;

    
}
.product-item {
    width: 8vw;
    font-size: 1vw;
    font-weight:500;
    border: 0.2vh solid black;
    
}
.product-name
{

    width: 50vw;
    font-size: 1vw;
    font-weight:500;
    border: 0.2vh solid black;   
   
}

.suplier-product-card-input{
    width: 8vw;
    height: 3vh;
    border: 0.2vh solid black;
    align-self: center;
    justify-self: center;
    
}